<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Bus Information</title>
</head>
<body>
	<div layout:fragment="content" class="container body-content">
		<h2>Bus Information</h2>
		<div>
			<table>
				<tbody>
					<tr th:each="timetable: ${busInfo.timetables}">
						<table>
							<thead th:text="${timetable.busStopName}"></thead>
							<tbody>
								<tr th:each="departure: ${timetable.departures.all}">
									<td th:text="${departure.best_departure_estimate}"></td>
									<td th:text="${departure.line_name}"></td>
									<td th:text="${departure.direction}"></td>
								</tr>
							</tbody>
						</table>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>