<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Bus Information</title>
</head>
<body>
	<div layout:fragment="content" class="container body-content">
		<h2>Bus Information</h2>
		<div>
			<p>please display this please</p>
			<table>
				<tbody>
					<tr th:each="bus: ${busInfo.timetable}">
						<td th:text="${bus.displayString)}">HELP</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>